/* Header Styles */
.header {
    display: flex;

    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    padding: 0 2%;
    background-color: rgb(11, 11, 11);
}

.left-section {
    display: flex;
    align-items: center;
    height: 70px;
}

.left-section button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.home-logo {
    padding-right: 10px;
}

.home-logo-icon {
    width: 100px;
}

.left-section a,
.kids{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 14px;
    font-weight: lighter;
}

.header-menu {
    padding-left: 10px;
    align-items: flex-end;
}

.right-section {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 10px;
}

.right-section button {
    background-color: transparent;
    border: none;
}

.search-button {
    padding: 1px 6px;
    cursor: pointer;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.search-bar {
    background-color: transparent;
    border: 1px solid white;
    height: 30px;
    width: 250px;
}

.search-bar::placeholder {
    font-size: 14px;
    color: gray;
    font-weight: 400;
}

.notification {
    position: relative;
    cursor: pointer;
}

.notification-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.notification-icon {
    height: 24px;
}

.current-user {
    align-items: center;
    position: relative;
    width: 60px;
    cursor: pointer;
}

.current-user-picture {
    height: 32px;
    width: 32px;
}

.caret {
    position: absolute;
    top: 5px;
    width: 16px;
}